@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

.main {
  @apply max-w-300 mx-auto mt-8;
}
.form-control {
  @apply w-full flex flex-col;
  .input,
  .textarea,
  .select {
    @apply w-full;
  }
}
tbody > * {
  @apply font-light;
}
thead > * {
  @apply font-bold;
}
